$borderStyle: 1px solid gray;
$fontFamily:serif;
.row{
    font-family: $fontFamily;
}
.col-md-6{
    padding: 0px;
}
._graphDiv{
    border: $borderStyle;
    border-radius: 10px;
    margin: 10px 0px;
}
._samplingName{
    font-size: 14px;
    text-align: center;
    border-bottom: $borderStyle;
}
._samplingGraphDiv{
    border: $borderStyle;
}
._menuName{
    font-size: 16px;
    text-align: center;
    background-color: antiquewhite;
    padding: 5px;
    font-weight: bold;
    border-radius: 10px;
    border-bottom: $borderStyle;
}
.mr-0{
    margin: 0px;
}
table{
    font-size: 14px;
}

.fixedHeader thead {
    position: sticky;
    top: 0;
    background: #eee;
}
