
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$UniversalNew-primary: mat.define-palette(mat.$indigo-palette);
$UniversalNew-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$UniversalNew-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$UniversalNew-theme: mat.define-light-theme((
  color: (
    primary: $UniversalNew-primary,
    accent: $UniversalNew-accent,
    warn: $UniversalNew-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($UniversalNew-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.apexcharts-menu-icon{
  display: none;
}
.mat-drawer-inner-container{
  overflow: hidden !important;
}
.mat-drawer-inner-container:hover{
  overflow: auto !important;
}
/* Scroll bar stylings */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
// ::-webkit-scrollbar-track {
//   background: var(--lightestgrey); 
// }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #418cc5; 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #418cc5; 
}